body{
  margin: 10px;
  background: linear-gradient(to right, #dedede, #fff, #dedede);
}

input:required:invalid {
  border: 1px solid red;
}

input:required:valid {
  border: 1px solid green;
}

.resultado{
  padding-top: 20px;
  padding-bottom: 10px;
}

.img-ayuda{
  /*width: 25px;*/
  width: 30px;
  position: relative;
  top: -1px;
}

h1, h2{
  font-family: lobster;
}

main{
  /*border: solid 1px;*/
  padding-left: 10px;
  padding-right: 10px;
}

footer ul{
  text-align: center;
}

footer ul li{
  display: inline;
  list-style: none;
  margin-right: 20px;
}

form{
  text-align: center;
}

label{
  margin-right: 15px;
}

h1{
  text-align: center;
}

a::before{
    font-family: fontawesome;
    padding-right: 0.5em;
}

a[href^="mailto:"]::before{
    content: "\f0e0"
}

a[href^="https://twitter.com"]::before{
    content: "\f099"
}