* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register{
    position: absolute;
    width: 400px;
    background: #ababab;
    padding: 30px;
    margin: auto;
    transform: translate(30%, -4%);
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #575757;
}


.form-register2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-20%, -20%);
    width: 750px;
    background: #ababab;
    padding: 30px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #575757;
}


.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.cuadros{
    width: 100%;
    background:white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
}

.botones{
    width: 100%;
    background: #1f8d33;
    border: none;
    padding: 8px;
    margin-bottom: 16px;
    color: white;
    margin: 16px 0;
    font-family: 'calibri';
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
}
